
.vs/CodeWarsChallenge/FileContentIndex/45deb328-34fe-4c37-98bd-41fa9c48ee54.vsidx
.vs/CodeWarsChallenge/FileContentIndex/f8a6bfa1-e8bd-40ab-97c2-812ae45e21f9.vsidx
.vs/CodeWarsChallenge/FileContentIndex/75e14899-5496-4b76-968e-4ba35adfab71.vsidx
.vs/CodeWarsChallenge/FileContentIndex/da58ed3d-71ee-41cb-8a6e-b7eb57947334.vsidx
